<% include ./partials/header.ejs %>

    <div class="header index-header">
       <div class="container-fluid">
           <h1>
               VotePort
           </h1>
           <p>
               Create custom polls with live results
           </p>
           <a href="/new-poll"><button class="btn btn-success"> New Poll</button></a>
           <a href="/My-polls"><button class="btn btn-success"> My Polls </button></a>
       </div>
    </div>
    
    
    
<% include ./partials/footer.ejs %>