<% include ./partials/header.ejs %>

    <div class="header">
       <div class="container-fluid">
           <h1>
               VotePort
           </h1>
           <p>
               Create custom polls with live results
           </p>
       </div>
    </div>

    <div class="row container-fluid register-main-content">
        
    </div>


<% include ./partials/footer.ejs %>