.navbar{
    margin-bottom: 0px;
}

.header{
    background-color: #5DBCD2;
    height: 250px;
    margin-bottom: 0px;
}

.real-time-icon{
    color: #FAEA73;
}
.works-globally-icon{
    color: #5CB85C;
}
.social-integration-icon{
    color: #4393B9;
}